*{
    line-height: 1.5;
}

a{
    color: red;
    text-decoration: none;
    box-shadow: 0px 0px 100px 2px dimgrey;
}

body{
   

    background: black;

    margin: 0;
    padding: 0px;
    max-width: 98vw;
    height: 98vh; 
}

table,th,td{
    border-collapse: collapse;
    border: 2px solid snow;
    box-shadow: 0px 0px 1px 1px orangered;
    text-align: center;
}

@media (min-width:800px) {
    .mainContainer{
        background-color: dimgrey;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 5%;
        margin-bottom: 5%;
        border: 5px solid black;
        padding: 0.2%;
        color: red;
        box-shadow: 0px 0px 70px 50px darkred;
        height: 95vh;
    }    
}

@media (min-width:1500px){
    
}

h1{
    border-radius: 20px;
    border: 2px solid black;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    box-shadow: 0px 0px 4px 4px darkred;
}

button {
    background-color: black;
    margin-left: 2%;
    margin-top: 10%;
    
} 